@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p id="p_missing_profile" class="text-info">
    You do not have a profile name for this site. Add a unique profile name to
    your account in order to begin using <i>ScoreStore</i>.
</p>
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Profile"></label>
                <input asp-for="Input.Profile" class="form-control" id="input_profile" />
                <span asp-validation-for="Input.Profile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Avatar"></label>
                <br>
                <input asp-for="Avatar" name="Avatar" id="icon_user" class="input-hidden" disabled />
                <label for="icon_user">
                    <img id="icon_user_img" class="avatar-selection" src="~/img/user-icon.png" />
                </label>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="Input.PhoneNumber"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>-->
            <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script type="text/javascript">

    // obtain reference to missing profile name message
    var p_missing_profile = document.getElementById("p_missing_profile");

    // obtain reference to save button
    var button_update = document.getElementById("update-profile-button");

    // obtain references to the username input
    var input_profile = document.getElementById("input_profile");
    var profile = input_profile.value;

    // disable update button, message, and username input if one has been already registered
    if (profile) {
        button_update.disabled = true;
        input_profile.disabled = true;
        p_missing_profile.hidden = true;
    }

    // obtain references to the avatar input and image
    var input_image = document.getElementById("icon_user");
    var image = document.getElementById("icon_user_img");

    // set the avatar image to the input's value
    image.src = "/img/user-icons/" + input_image.value;
</script>
