@{
    ViewData["Title"] = "User Not Found";
}

<div>
    <a asp-action="FriendList">Back to List</a>
</div>
<hr />

<h1>@ViewData["Title"]</h1>

<p>An error occurred while loading this user. The account has most likely been deleted.</p>
