@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p style="margin-left:48px;">
    <i>ScoreStore</i> is first and foremost a <strong>hobby project</strong> for educational purposes. In no way,
    shape, or form does this web application have any malicious intent of any kind. If the
    developer of <i>ScoreStore</i> has any reason to beleve any user is misusing the service,
    the developer has the right to terminate said account(s), data, or even the service as a whole.
</p>
<p style="margin-left:48px;">
    <i>
        Because the developer is no legal expert, this privacy policy might not contain all the information it
        requires to be compliant with certain laws. Please be understanding that any missing information was not
        intentionally hidden.
    </i>
</p>

<br />

<h2>Personal Data</h2>

<div style="margin-left:48px;">
    <p>
        Any data submitted by users to <i>ScoreStore</i> is kept in a database and is only accessible to
        the user and the administrator(s) of this service unless otherwise stated. This data is never
        released, sold or made intentionally available in any form to anyone or any organization.
    </p>

    <h4>Email</h4>

    <p>
        Users can register an account with <i>ScoreStore</i> using their email address or login via an
        external authentication provider. In either case, <i>ScoreStore</i> only collects the user's email
        address as the only form of personally identifiable material. With this data, <i>ScoreStore</i>
        will send the user a confirmation email upon account registration. The email will then be kept in
        <i>ScoreStore's</i> database in order to verify a user upon future logins. Users can update their
        email at their discretion.
    </p>

    <h4>Password</h4>

    <p>
        Accont security is a major concern and taken with the utmost seriousness. Users that register
        with <i>ScoreStore</i> can expect to have their passwords encrypted for local accounts. As a
        result, users that forget their passwords will need to select the password reset option. In the
        case of external authentication providers, <i>ScoreStore</i> has no access to passwords of social
        logins and any security breach with accounts using such logins should turn to those providers for
        support.
    </p>

    <h4>Social Logins</h4>

    <p>
        As mentioned above in a previous section, users can opt to log in via an external authentication
        provider, commonly referred to as social logins. Although authenticating with external providers
        does provide <i>ScoreStore</i> with certain basic profile information about this user,
        <i>ScoreStore</i> only requires access to the email address. Other profile information such as a
        user's name or profile photo is ignored.
    </p>

    <h4>Profile Name</h4>

    <p>
        Additionally, users are prompted for a unique profile name during or after account registration.
        Profile names are intended for users to be able to discover each other's profiles and as a result
        are publicly available for other users to see. Although the profile name can be personally
        identifiable material (such as a personal nickname), it is encouraged that users do not include any
        information in their profile name that they do not intend to be publicly visible. It is also
        important for users to understand that profile names once set cannot be altered or deleted.
    </p>

    <h4>Games</h4>

    <p>
        Authenticated users can submit a game to <i>ScoreStore's</i> database if the game that the user
        is looking for does not already exist in the database. During submission, user's are prompted
        for the game's name and a URL to an image for said game. It is not expected for user's to submit
        any kind of personal information regarding themselves or anyone/anything else; submisson is
        explicitly for games only, such as videogames, card games, board games, sports, et cetera. Once
        a game is submitted, it becomes publicly available for other users to see and add it to their
        own list of saved games.
    </p>

    <h4>Scores</h4>

    <p>
        Authenticated users can also submit a score for each of their saved games. These scores are simply
        a tally and have no way to determine or infer any sort of personally identifiable material about
        the user.
    </p>
</div>
