@{
    ViewData["Title"] = "Report an Issue";
}
<div class="text-center">
    <h1 class="display-4">Reporting an Issue</h1>
    <p>If you believe you've identified a <b>technical</b> issue, please submit a report on the official <a href="https://github.com/kkevn/ScoreStore/issues/new">issue tracker</a> and provide the following information:</p>

    <hr>

    <div style="text-align: center;">
        <pre style="display: inline-block; text-align: left;">

        <code>/* Generalize the issue in the title. */</code>

        <b>Summary</b>:
        Give a brief description of the issue.

        <b>Steps to Reproduce</b>:
        Number any necessary steps that led to this issue.

        <b>Actual Result</b>:
        State what occurs when the reproduction steps are followed.

        <b>Expected Result</b>:
        State what outcome was expected when the reproduction steps are followed.
        </pre>
    </div>

    <hr>

    <p><i>Failure to submit an issue report in this format will likely lead to the report being ignored.</i></p>
</div>
