<h4>Search for Friends</h4>
<hr />

<div>
    <p>Search for users you may know by entering their username into the search box below and pressing the <b>Search</b> button.</p>
    <i>Search results will display all matching users whose username or email contain the search input.</i>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchUsersResults">
            <div class="form-group">
                <label for="SearchInput" class="control-label"></label>
                <input name="SearchInput" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="FriendList">Back to Friends</a>
</div>
