/* set color profiles */
:root {
    --color-main: #337051; /* amazon green */
    --color-dark: #1b1b1e; /* shark gray */
    --color-light: #e7eae5; /* gray nurse white */
    --color-accent-dark: #6c7979; /* sirocco gray */
    --color-accent-light: #7a9998; /* granny smith blue */
}

/* override default font and background color */
body {
    font-family: 'Kanit', sans-serif;
    background-color: var(--color-dark);
}

/* override boostrap primary button */
.btn-primary {
    color: #fff;
    background-color: var(--color-main);
    border-color: #114532;
}

.btn-primary:hover {
  color: #fff;
  background-color: #006e36;
  border-color: #004a1a;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(0, 255, 123, 0.5);
}

.btn-primary:active, .btn-primary.active,
.show > .btn-primary.dropdown-toggle {
  background-color: #006e36;
  background-image: none;
  border-color: #004a1a;
}

/* override bootstrap nav-pill active color */

.nav-pills .nav-link.active {
    background-color: var(--color-main) !important;
}

/* set custom classes */
a.sidebar-item {
    margin-bottom: 1px;
    background-color: var(--color-accent-light);
}

div.jumbotron-main {
    margin-top: 12px;
    background-color: var(--color-accent-light);
}

div.jumbotron-sub {
    border-radius: 12px;
}

div.image-border {
    border-left: 12px solid var(--color-light);
}

img.image-cover {
    border-radius: 12px;
    background-color: var(--color-accent-light);
    border: 4px solid var(--color-accent-light);
    margin-top: 18px;
    width: 300px;
    height: 300px;
}

div.stats-header {
    border-radius: 12px;
    padding: 48px 96px 0px 96px;
}

div.chart-box {
    border-radius: 12px;
    margin-top: 12px;
    background-color: var(--color-accent-light);
}

div.chart-box-2 {
    border-radius: 12px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: var(--color-accent-light);
}

div.chart-timeline {
    max-height: 100px;
    margin-top: 18px;
}

/* list item classes */

div.list-item {
    border-radius: 12px 12px 0px 12px;
    margin: 12px 24px 24px 24px;
    border: 2px solid var(--color-dark);
}

.list-item:hover {
    /*opacity: 0.75;
    background-color: var(--color-light);*/
    border: 2px solid var(--color-light);
    cursor: pointer;
}

div.list-item-img {
    background-color: var(--color-accent-light);
    border-radius: 12px 0px 0px 12px;
}

img.list-item-img {
    /*background-color: var(--color-dark);*/
    border-radius: 12px;
    width: 133px;
    height: 100px;
    padding: 1px;
}

div.list-item-title {
    background-color: var(--color-accent-light);
    border-radius: 0px 12px 0px 0px;
    margin-left: -8px;
}

div.list-item-detail {
    font-style: italic;
}

div.test-class {
    display: flex;
    align-items: center;
}

i.icon-remove {
    background-color: var(--color-accent-light);
    color: darkred;
    margin-top: 4px;
}

i.icon-remove:hover {
    color: red;
    cursor: pointer;
}

i.icon-add-item {
    background-color: var(--color-accent-light);
    color: var(--color-main);
    margin-top: 4px;
}

i.icon-view {
    color: var(--color-main);
}

i.icon-add {
    margin-top: 4px;
    margin-left: 4px;
}

/* Add Score classes */

i.icon-radio {
    margin-left: 4px;
}

img.avatar {
    margin: 4px;
    width: 40px;
    height: 30px;
}

/* New Game classes */

img.image-preview {
    border-radius: 12px;
    background-color: var(--color-dark);
    border: 4px solid var(--color-dark);
    margin-top: 18px;
    width: 260px;
    height: 200px;
}

/* User Avatar Selection classes */

.input-hidden {
    position: absolute;
    left: -9999px;
    margin: 4px;
}

input[type=radio]:checked + label > img.avatar-select {
    border: 1px solid var(--color-main);
    box-shadow: 0 0 2px 2px var(--color-main);
}

input[type=radio] + label > img.avatar-select {
    width: 150px;
    height: 150px;
    transition: 100ms all;
}

img.avatar-selection {
    border: 1px solid var(--color-main);
    width: 150px;
    height: 150px;
    margin: 4px;
    padding: 8px;
}